<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>musicApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A37DD6E11E75C00F003F5E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37DD6F51E75C013003F5E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37DD7001E75C014003F5E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
